version: "3.9"

services:
  web_db:
    image: postgres:15
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shared-net
    ports:
      - "5433:5432"

  web:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    depends_on:
      - web_db
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - ./.env
    volumes:
      - ../backend:/app/
    networks:
      - shared-net
    working_dir: /app
    command: uvicorn app.main:app --host=${APP_HOST} --port=${APP_PORT} --reload

volumes:
  postgres_data:

networks:
  shared-net:
    external: true